chinese-ocr-master/angle/modelAngle.h5
chinese-ocr-master/ctpn/models/*
chinese-ocr-master/ocr/ocr0.2.h5
chinese-ocr-master/crnn/samples/model_acc97.pth
chinese-ocr-master/train/pretrain-models/keras.hdf5
chinese-ocr-master/train/pretrain-models/netCRNN.pth
*.pth
*.hdf5
*.cu
*.so
*.pyx
*.pyc
*.DS_Store
chinese-ocr-master/ctpn/models/*
*.jpg
*.png
*.h5 
*.mdb
chinese-ocr-master/uploads/*
*.bogon
*.localdomain
CPS-OCR-Engine-master/ocr/dataset/*
CPS-OCR-Engine-master/checkpoint/*
*.ttf
*.otf
Hanwriting-OCR/checkpoint/*
*.zip
*.gnt
Hanwriting-OCR/dataset/train/*
Hanwriting-OCR/dataset/test/*
pixel_link-master/model/*
text-detection-ctpn-master/checkpoints/*
text-detection-ctpn-master/data/*
text-detection-ctpn-master/output/ctpn_end2end/voc_2007_trainval/*
text-detection-ctpn-master/logs/*
text-detection-ctpn-master/data/*
*.xml
AdvancedEAST/saved_model/*
